.cat__hero{
    min-height: 600px;
    background: url('/assets/collection.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
}

.cat__hero::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index:1;
}

.cat__hero_content{
    position: relative;
    z-index: 2;
    padding-top: 100px;
}

@media (max-width:1100px){
    
.cat__hero_content img{
   width: 100px;
}

.cat__hero{
    min-height: 400px;
}
}